.schedule-app
  .search-results
    margin-top: 10px

    .list-group-item > .key-hint
      display: inline-block
      min-width: 10px
      padding: 3px 7px
      font-size: 12px
      font-weight: 700
      line-height: 1
      color: #fff
      text-align: center
      white-space: nowrap
      vertical-align: baseline
      background-color: #777
      border-radius: 10px

  .lessons-week
    .lessons-list
      background-color: #f5f5f5
      border-radius: 4px
      border: 1px solid #ddd
      box-sizing: content-box
      display: inline-block
      font-size: 15px
      margin-right: 5px
      margin-bottom: 10px
      overflow: hidden
      vertical-align: top
      width: 16.12%
      white-space: normal

      &:last-child
        margin-right: 0

      .lesson-list-header
        background: #3498db
        border-bottom: 1px solid #ddd
        color: #fff
        cursor: pointer
        font-size: 18px
        height: 45px
        line-height: 43px
        overflow: hidden
        position: relative
        width: auto
        z-index: 2

        .label
          height: 100%
          padding-left: 10px

      .lesson-list-body
        position: relative

        .lesson-item
          background-color: #f5f5f5
          border: none
          height: auto
          position: relative
          margin-left: 5px
          margin-right: 5px
          margin-bottom: 5px

          &:first-child
            margin-top: 5px

          &.empty .lesson-item-content
            border: none
            background: none
            box-shadow: none

          &.highlight
            .lesson-item-content
              background: #def1fe

          .lesson-item-content
            background-color: #fff
            border-radius: 2px
            border: 1px solid #e2e2e2
            box-shadow: #ddd 2px 2px 3px
            box-sizing: border-box
            padding: 3px 3px 0 6px
            height: 75px
            border-left: 3px solid #27ae60

            .course-link
              font-size: 14px
              text-align: center
              text-overflow: ellipsis
              overflow: hidden
              white-space: nowrap

            .teacher-link
              font-size: 13px
              border-bottom: 1px solid #e2e2e2
              padding: 2px
              text-overflow: ellipsis
              overflow: hidden
              white-space: nowrap

            .group-link
              font-size: 13px

            .place-badge
              background: rgba(0,0,0,.08)
              border-radius: 2px
              color: #666
              float: right
              font-size: 13px
              padding: 0 2px

    // Black magic, ask printer use colors by default
  -webkit-print-color-adjust: exact

  .printable-schedule
    table.schedule
      border-style: double

      tr
        &[data-weekday="1"] .lesson-cell
          background-color: rgb(242, 222, 222)!important

        &[data-weekday="2"] .lesson-cell
          background-color: rgb(252, 248, 227)!important

        &[data-weekday="3"] .lesson-cell
          background-color: rgb(217, 237, 247)!important

        &[data-weekday="4"] .lesson-cell
          background-color: rgb(223, 240, 216)!important

        &[data-weekday="5"] .lesson-cell
          background-color: #ACD5F8 !important

        &[data-weekday="6"] .lesson-cell
          background-color: #E6D3F5 !important

        td, th
          text-align: center
          border: 1px solid black
          padding: 3px

        .weekday-cell
          transform: rotate(-90deg)
          transform-origin: 50% 50%

        .number-cell
          font-weight: 500

        .time-cell
          width: 100px
          background-color: #E0DEDE !important
