{% extends 'core/base.html' %}

{% load static %}
{% load pipeline %}

{% block scripts %}
  {% javascript 'react' %}
  {% javascript 'schedule' %}
  <script>
    Schedule.settings.lessonsUrl = "{% url 'schedule:lessons' %}";
    Schedule.ui.run(document.getElementById('schedule-app'));
  </script>
{% endblock %}

{% block styles %}
  {% stylesheet 'schedule' %}
{% endblock %}

{% block title %}Schedule{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div id="schedule-app"></div>
    </div>
  </div>
{% endblock %}
