{% extends 'core/base.html' %}

{% load static %}
{% load pipeline %}

{% block scripts %}
  {% javascript 'react' %}
  {% javascript 'schedule' %}
  <script>
    schedule.settings.group_lessons_url = "{% url 'schedule:group-lessons' %}";
    schedule.settings.course_lessons_url = "{% url 'schedule:course-lessons' %}";
    schedule.settings.teacher_lessons_url = "{% url 'schedule:teacher-lessons' %}";

    schedule.ui.run(document.getElementById('schedule-app'));
  </script>
{% endblock %}

{% block styles %}
  {% stylesheet 'schedule' %}
{% endblock %}

{% block title %}Schedule{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div id="schedule-app" class="schedule-app"></div>
    </div>
  </div>
{% endblock %}
